/*Testing drag and drop shit*/

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.box {
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
    padding-right: 40px;
    margin: 10px;
    cursor: move;
    position: relative;

}

.box.over {
    border: 3px dotted #666; 
}

.remove {
    position: absolute;
    right: 10px;
}

